.game-screen-image1 {
  position: absolute;
    left: 20%;
    top: 55%;
    transform: translate(-50%, -50%);    
    width: 15%;
}

.game-screen-image2 {
  position: absolute;
    left: 80%;
    top: 60%;
    transform: translate(-50%, -50%);    
    width: 11%;
}

.game-screen-container {
  display: flex;
  align-items: center;
  max-width: 500px;
  margin: 0.8em 0.8em;
  padding: 0.8em 0.8em;

  background: linear-gradient(145deg, #2B86C5 0%, #FF3CAC 100%);
  border-radius: 5px;
  box-shadow: 10px 10px 9px #353535,
              -10px -10px 9px #5c5c5c;
 transition: box-shadow 0.7s ease;
 z-index: 0;
 position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
}
