.user-header {
  display: flex;
  align-content: space-around;
  align-items: center;
  align-self: center;
  min-width: 300px;
  margin: 0.2em 0.2em;
  padding: 0.2em 0.2em;
  /* position: fixed;
  z-index: 2; */
}

header {
  display: flex;
  min-width: 300px;
  align-items: center;
  margin: 0.3em 0.3em;
  padding: 0.5em 0.5em;
  border-radius: 0.1em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  box-shadow: 2px 2px 3px #b6b6b6,
              -1px -1px 3px #ffffff;
}

.user-profile-img {
  display: inline-flex;
  border-radius: 50%;
  border: 2px solid white;
  /* box-shadow: 2px 2px 2px black; */
}

.header-name {
  padding: 0.8em 2em;
  display: inline-flex;
  text-transform: uppercase;
}

.header-score {
  padding: 0.8em 2em;
  display: inline-flex;
}