.red-border {
  border: 3px solid red;
}

.green-border {
  border: 3px solid rgb(6, 240, 15);
}

.game-title {
  text-align: center;
}

.timer-container{
  margin: 0.3em;
  padding: 0.3em 0.3em;
}

.question-container {
  align-content: center;
  text-align: center;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  align-items: center;
}

/* From cssbuttons.io by @adamgiebl https://cssbuttons.io/detail/adamgiebl/lucky-donkey-6 */
button {
  color: #090909;
  text-align: center;
  padding: 0.8em 0.2em;
  font-size: 14px;
  font-weight: 600;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  transition: all .3s;
  box-shadow: 2px 2px 3px #c5c5c5,
              -1px -1px 3px #ffffff;
 }
 
 button:hover {
  border: 1px solid white;
 }
 
 button:active {
  box-shadow: 2px 2px 6px #c5c5c5,
              -2px -2px 6px #ffffff;
 }
