* {
  margin: 0;
  padding: 0;
}

body, html {
  display: flex;
  justify-content: center;
  height: 100%;
  margin: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.red-border {
  border: 3px solid red;
}

.green-border {
  border: 3px solid rgb(6, 240, 15);
}

@media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: shake infinite 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes shake {

  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

form {
  width: 10vw;
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


label {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}

.login-btn {
  text-align: center;
}

#container {
  display: flex;
justify-content: center;
align-items: center;
}

/* card */

/* From cssbuttons.io by @adamgiebl */
.card {
 width: 15vw;
 height: 20vw;
 background: linear-gradient(145deg, #2B86C5 0%, #FF3CAC 100%);
 border-radius: 5px;
 box-shadow: 10px 10px 9px #353535,
 -10px -10px 9px #5c5c5c;
 transition: box-shadow 0.7s ease;
 z-index: 0;
 position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.card:hover {
 box-shadow: 10px 10px 15px #353535,
             -10px -10px 15px #5c5c5c;
}


 button {
   margin-top: 1rem;
   width: 75%;
 }

/* From cssbuttons.io by @adamgiebl */
/* button {
 color: #090909;
 padding: 0.7em 1.7em;
 font-size: 18px;
 border-radius: 0.5em;
 background: #e8e8e8;
 border: 1px solid #e8e8e8;
 transition: all .3s;
 box-shadow: 6px 6px 12px #c5c5c5,
             -6px -6px 12px #ffffff;
}

button:hover {
 border: 1px solid white;
}

button:active {
 box-shadow: 4px 4px 12px #c5c5c5,
             -4px -4px 12px #ffffff;
} */